.nue-selected-entity-base {
    margin: 3em;

    align-items: center;
    justify-content: center;
}

.nue-selected-entity-preview {
    background-color: hsl(var(--background)) !important;
}

.nue-selected-entity-image-preview {
    border-radius: 1em solid;
    border-radius: 8px;
    border-color: hsl(var(--muted));

    margin: auto;
    display: block;
    margin-bottom: 2em;
}

.nue-selected-entity-tag-container-label {
    font-weight: bold;
    margin-top: 0.5em;
}

.nue-selected-entity-name-wrapper {}

.nue-selected-entity-name {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.nue-selected-entity-change-name {
    float: right;
}

.nue-selected-entity-type {
    font-size: 0.75em;
    word-wrap: break-word;
    max-width: 100%;
    color: hsl(var(--muted-foreground));
    padding: 0px;
}

.nue-selected-entity-overall-date-container {
    padding-top: 1em;
    padding-bottom: 1em;

    font-size: 0.75em;
    word-wrap: break-word;
    max-width: 100%;
    color: hsl(var(--muted-foreground));
}

.nue-selected-entity-tags-wrapper {
    margin-bottom: 1em;
}

.nue-selected-entity-add-tag {
    margin-top: 0.3em;
    margin-right: 0.3em;
}

.nue-selected-entity-tag-container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}