.nue-logo {
    font-size: 2em;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.5em;
}

.nue-search {
    margin: 0 auto;
    width: 35em;
    display: flex;
}

.nue-right {
    float: right;
    margin-right: 0.5em
}

.nue-h4 {
    font-size: 2em;
    word-wrap: break-word;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nue-top {
    margin: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nue-search-input {
    margin-right: 1em;
}

.nue-side {
    margin: 1em;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
}

.nue-content {
    margin: 2em;
}